.container-recipes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.recipe-item {
  margin: 25px;
  /* max-width: 500px; */
  display: grid;
  /* grid-template-columns: 270px auto; */
  grid-template-rows: fit-content(30px) fit-content(20px) fit-content(400px) fit-content(1000px);
  grid-gap: 10px;
  background: var(--MainBackgroundColor);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgb(167 167 167);
}

.recipe-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-img img {
  max-height: 250px;
  /* max-width: 250px; */
}

.recipe-title {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.recipe-categories {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.recipe-text {
  padding: 0 25px;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: justify;
}

.recipe-ingredients {
  display: flex;
  align-items: center;
}

.category,
.type {
  height: fit-content;
  padding: 3px 10px;
  margin: 0 3px;
  color: white;
  border-radius: 10px;
}

.category {
  background: rgb(156 39 176);
}

.type {
  background: rgb(117 31 195);
}

@media (max-width: 600px) {
  .recipe-item {
    grid-column: auto;
    grid-template-rows: auto auto auto auto auto;
  }
  .recipe-img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: center;
  }
  .recipe-img img {
    height: 200px;
  }
  .recipe-ingredients {
    padding-left: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .recipe-text {
    grid-row-start: 5;
    grid-row-end: 6;
  }
}
